body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.buttons {
  position: absolute;
  bottom: 2vh;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

#snap {
  width: 50px;
  outline: none;
  color: #fff;
}
